<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active item1">
			<div class="container">
				<div class="carousel-caption">
					<h1>myFit just for your for free</h1>
					<p>
						Create and share your fitness plan.
					</p>
					<p>
						<%= link_to "Sign up now!", signup_path,
						class: "btn btn-lg btn-success" %>
					</p>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">
					<h1>myFit just for your for free</h1>
					<p>
						Create and share your fitness plan.
					</p>
					<p>
						<%= link_to "Sign up now!", signup_path,
						class: "btn btn-lg btn-success" %>
					</p>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h1>myFit just for your for free</h1>
					<p>
						Create and share your fitness plan.
					</p>
					<p>
						<%= link_to "Sign up now!", signup_path,
						class: "btn btn-lg btn-success" %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->