<span class="training-stats"><%= pluralize(current_user.microposts.count, "micropost") %></span>
<span class="training-stats"><%= pluralize(current_user.microposts.count, "workouts") %></span>
<span class="training-stats"><%= pluralize(current_user.microposts.count, "challenges") %></span>
<span class="training-stats"><%= pluralize(current_user.microposts.count, "achievements") %></span>