<% provide(:title, "Challenges") %>
<h1>Create new challenge</h1>

<div class="challenges">
<ol id="daySet"> 
</ol> 
<button type="button" id="addNewDay" class="btn btn-warning btn-lg btn-block">Add challenge day</button>
<button type="button" id="" class="btn btn-success btn-lg btn-block">Save challenge</button>
</div>