<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "TrainMood", root_path, id: "logo", class: "navbar-brand"%>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right gold-links">
        <% if logged_in? %>
        <%= render 'layouts/logged_header_menu' %>
        <% else %>
        <%= render 'layouts/not_logged_header_menu' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>